*.pyc
*.o
*.log
*.swp
*/geoalgs/__init__.py
*/geoalgs/dat/
*/geoalgs/docs/build/
*/geoalgs/docs/source/bldust.rst
*/geoalgs/docs/source/fires.rst
*/geoalgs/docs/source/geoalgs_modules.txt
*/geoalgs/docs/source/lunarref.rst
*/geoalgs/docs/source/rayleigh.rst
*/geoalgs/docs/source/stddev.rst
*/geoalgs/docs/source/sunglint.rst
*/geoalgs/include/
*/geoalgs/lib/
*/geoalgs/src/config.F90
*/geoalgs/src/*.f90
*/geoalgs/docs/source/stddev_kernel.rst

